<!DOCTYPE html>

<div ng-controller="ChatController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Chat Window</h3>
        <span>{{activeUser.name}}</span>
      </div>
      <div class="panel-body">
          <div class="wrap">
            <div class="cell">
                <div ng-repeat="message in messages track by $index" ng-class="{'my-message': isMyMessage(message), 'other-message': !isMyMessage(message)}">
                    <p class="text" ng-bind="message.text"></p>
                    <p class="author" ng-bind="message.author"></p>
                </div>
            </div>
        </div>

      </div>
      <div class="panel-footer">
          <div class="input-group">
                <input type="text" class="form-control" placeholder="Message..." ng-model="message" on-enter="sendMessage()">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
              </span>
          </div>
      </div>
  </div>
</div>
