<!DOCTYPE html>

<div ng-controller="ChatController">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Chat Window</h3>
      </div>
      <div class="panel-body">
          <div class="wrap">
            <div class="cell">
                <p class="my-message bg-info" ng-repeat="message in messages track by $index" ng-bind="message"></p>
            </div>
        </div>

      </div>
      <div class="panel-footer">
          <div class="input-group">
                <input type="text" class="form-control" placeholder="Message..." ng-model="message" on-enter="sendMessage()">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="sendMessage()">Send</button>
              </span>
          </div>
      </div>
  </div>
</div>
