<!DOCTYPE html>
<div class="welcome-modal">
    <div class="modal-body">
        <div class="welcome-modal-header">
            <h1>Hello, this is QUIZZY!</h1>
            <button type="button" class="close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="welcome-modal-body">
            <p>Will you introduce yourself?</p>
            <input type="text" class="form-control" name="name" value="" placeholder="Name..." ng-model="playerName">
        </div>

        <div class="welcome-modal-footer">
            <button class="btn" type="button" ng-click="play(playerName)">Play</button>
        </div>
    </div>
</div>
